

img{
    width: 100%;
}
.myCss {
    background:#0f2540e6;
    padding-top: 35px;
    
}

.location div {
    margin-bottom: 15px;
}

.location div i {
    color: #ffaf1e;
    font-size: inherit;
}

.cv_wrapper {
    margin: 50px 0px;
    box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b, -8px 0px 0px 0px #4e4e56, 0px 0px 0px 8px #da635d, 14px -1px 11px 2px rgb(0 0 0 / 0%);
}

.icon {
    color: white;
    
    padding-top: 30px;
}
.contact_number {
    padding: 32px 0px;
}
.location {
    margin-top: 10px;
}
.title {
    color:#f7a754;
    /* font-size: 27px;
    font-weight: 600; */
    margin: 15px 0px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info_title h2 {
    color: #ff9800;
    font-weight: 400;
    letter-spacing: 4px;
    padding-left: 4%;
}
.info_title hr {
    color: #f5f3ef;
    width: 89%;
    height: 3px;
    background: #fffefd;
    margin-bottom: 5%;
}
.personal_info ul li span:first-child{
    display: inline-block;
    width: 175px;
}
.personal_info ul li {
   width: 100%;
   margin-bottom: 10px;
   color:#e0dede;
}

.personal_info ul {
    list-style: none;
}
.personal_info p {
    color: white;
    margin-left: 5%;
   
}

.comm_pro {
    margin-left: 5%;
}

.commIcon {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.commIcon i {
    margin-right: 2%;
    font-size: 77%;
    color: orange;
}

.photoShimul {
    width: 73%;
    margin: auto;
    padding: 142px 0px;
}

.photoShimul img {
    background: #dee3e6 url(/im.png) no-repeat scroll 50px 50px;
    padding: 20px;
}

.comp_prof {
    margin-bottom: 40px;
}
.comp_prof ul li {
    list-style: disc;
    line-height: 30px;
}
.lang_prof ul {
    list-style: square;
}

.lang_prof li {
    line-height: 30px;
}

.lang_prof {margin-bottom:40px}

.car_obj {
    padding-top: 10px;
}
.car_obj h2 {color: #000000;font-weight: 700;letter-spacing: 2px;}

.car_obj hr {color: black;width: 70%;height: 2px;}
.myCssRight {
    background: #eaeaea;
    padding-top: 20px;
    padding-bottom: 42px;
}

.myCssRight p {
    color: black;
}




.first_box p {
    font-weight: 600;
    border-bottom: 2px solid  black;
    width: 50%;
}
.first_box ul i {
    width: 30px;
    text-align: center;
    font-size: 20px;
    float: left;
    margin-right: 10px;
}

.first_box ul {
    list-style: none;
    padding-left: 20px;
}

.first_box ul li {
    width: 100%;
    margin-bottom: 5px;
}
.first_box ul li span:first-child{

display: inline-block;

width: 90px;
}


.telemarket p {
    border-bottom: 2px solid black;
    font-weight: 500;
    width: 49%;
}
.soja ul li {
    list-style: square;
}
.dublicate p {
    border-bottom: 2px solid black;
    font-weight: 500;
    width: 49%;
}
.first_box.ssc p {
    width: 76%;
}
ul#talk_usa li {
    list-style: square;
}

ul#tele_item {
    margin-left: -18px;
}
ul#work_as {
    margin-left: -18px;
    margin-top: 45px;
}

.training_info {
    margin-left: 5%;
    overflow: hidden;
}

.info_detile i {font-size: 148%;margin-right: 4%;color: #273a53;}

.selt_app {
    padding: 10px 0px 15px 0px;
}

.info_detile {
    display: flex;
}

.table_box {
    
    width: 100%;
    border: 1px solid black;
    display: flex;
    margin-bottom: 15px;
}

.first_boxs {
    width: 50%;
    border-right: 1px solid black;
    padding: 3%;
}

.last_box {
    padding: 3%;
    width: 50%;
}

.signature_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 18%;
}

.date {
    width: 35%;
}

.sig_area {
    border-top: 1px solid black;
    width: 41%;
    padding-top: 10px;
}

.sig_area p {
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .info_title h2 {
        font-size: 16px !important;
        text-align: center !important;
        margin-bottom: 10px ;
        font-weight: 500;
    letter-spacing: 2px;
    }

.photoShimul {
    width: 73%;
    margin: auto;
    padding-top: 20%;
}

.photoShimul img {
    background: #D0E4F5 url("/images/smiley.png") no-repeat scroll 50px 50px;
}

.photoShimul {
    display: none;
}

 

    .title p {
        text-align: center;
        font-size: 21px !important;
        font-weight: 700;
        
        

    }
    .info_title hr{
        margin:auto !important;
        width: 100%;
        

    }
    .personal_info{
        padding-top:20px
    }
    .comp_prof{margin-top: 25px !important;}
    .lang_prof{margin-top:25px}
    .comm_pro{padding: 15px 0px 20px 0px; }
    .selt_app{padding:15px 0px 15px 0px;}
}

@media only screen and (max-width:600px) {

    .car_obj hr{
        margin: auto;
        height: 3px;
    }
    .car_obj h2{

        text-align: center;
    }
    .car_obj hr {
        margin-bottom: 20px;
    }
    .first_box.bsc p {
        width: 76%;
        margin: auto;
        margin-bottom: 25px;
    }

    .diploma p {
        width: 80%;
        margin: auto;
        margin-bottom: 25px;
    }

    .first_box.ssc p {
        width: 73%;
        margin: auto;
        margin-bottom: 25px;
    }

    .sig_area p {
        font-size: 11px;
        font-weight: 600;
    }

    .dublicate p {
        width: 81%;
        margin: auto;
        margin-bottom: 25px;
    }

    .telemarket p {
        width: 80%;
        margin: auto;
        margin-bottom: 25px;
    }

    .download_cv {
        width: 124px;
    }
    
    .download_cv a {
        font-size: 12px;
        font-weight: 600;
    }


  
}

.download_cv {
    width: 130px;
    background: #ff5722;
    border-radius: 5px;
    margin: auto;
    margin-top: 16px;
}

.download_cv a {text-align: center;display: block;text-decoration: none;color: white;padding: 10px 15px;}
.download_cv:hover a {
    background: black;
    border-radius: 3px;
    transition: 0.5s;
}
